@font-face{
    font-family: "FontAwesome-Regular";
    src: url("assets/FontAwesome-Regular.ttf");
    font-family: "Malaga-Narrow-OT-Reg-Italic";
    src: url("assets/Malaga-Narrow-OT-Reg-Italic.ttf");
    font-family: "Minion-Pro-Regular";
    src: url("assets/Minion-Pro-Regular.ttf");
    font-family: "MyriadPro-Regular";
    src: url("assets/MyriadPro-Regular.ttf");
    font-family: "TitilliumWeb-Bold";
    src: url("assets/TitilliumWeb-Bold .ttf");
    font-family: "TitilliumWeb-Regular";
    src: url("assets/TitilliumWeb-Regular.ttf");
    font-family: "TitilliumWeb-SemiBold";
    src: url("assets/TitilliumWeb-SemiBold.ttf");
}

html {
	width: 1800px;
	height: 3100px;
	font-size: 16px;
	margin: auto;
	font-family: "TitilliumWeb-Regular", "TitilliumWeb-SemiBold", "MyriadPro-Regular";
}
* {
	margin: 0;
	padding: 0;
}
body { 
	width: 100%;
	color: grey;
	display: flex;
	flex-direction: column;
	flex: auto;
}
header {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
}
.language {
	color: rgba(149, 149, 149, 255);
	width: 40%;
	padding: 2% 0%;
	text-align: left;
}
.lang {
	padding-left: 25%; 
	font-size: 1.17rem;
}
h1 {
	color: rgba(133, 134, 136, 255);
	font-size: 2.5rem;
	margin-bottom: 3%;
	padding-left: 26%;
}
.navigation {
	color: rgba(69, 69, 69, 255);
	width: 60%;
	padding: 3% 0;
	font-size: 1.33rem;
	text-align: center;
}
.signup {
	background: linear-gradient(to bottom right, #582c7e 0%, #64489b 30%, #6273c9 60%, #7588e7 100%);
	box-shadow: 0 0.8rem 0.8rem rgba(130, 100, 180, 0.5);
    padding: 1% 2%; 
    color: #fff; 
    border: none; 
	border-radius: 1.25rem; 
}
.nav a {
	padding: 0 1%; 
}
span a { 
	padding: 0 2% 0 1%; 

}
span img {
	padding-left: 4%; 
}
main {
	
}
.entrance {
	background-image: url(assets/mountains.png);
	background-repeat: no-repeat;
	height: 616px;
	display: flex;
	flex-wrap: wrap;
}
.account {
	width: 97%;
	font-size: 2.5rem;
	color: rgba(69, 69, 69, 255);
	text-align: center;
	margin-top: 7%;
}
.social {
	width: 3%;
	margin-top: 8.5%;
}
.create {
	background: linear-gradient(to right, #646c92 0%, #63638c 30%, #625080 60%, #60316b 100%);
	/*box-shadow: -30px 10px 10px 5px rgba(114, 178, 252, 0.5), 30px 10px 10px 5px rgba(114, 178, 252, 0.5);*/
	font-family: "TitilliumWeb-Bold", "MyriadPro-Regular";
    color: rgba(255, 255, 255, 255);
	border-radius: 2rem; 
	font-size: 1.5rem;
	text-align: center;
	margin: 3% 0.5% 0 1%;
	padding: 1% 3%; 
    border: none;	
}
.app {
	background-color: #60316b;
	padding: 1% 1.3%; 
    color: #fff; 
    border: none; 
	border-radius: 50%; 
	margin: 3% 0.5% 0 1%;
}
.google {
	background-color: #60316b;
    padding: 1% 1.3%; 
    color: #fff; 
    border: none; 
	border-radius: 50%; 
	margin: 3% 0.5% 0 1%;
}
.security {
	height: 500px;
}
.colomns {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 7%;
}
.colomns img {
	float: left;
}
.colomns p {
	color: rgba(149, 147, 147, 255);
	margin-bottom: 10%;
}
.sign {
	font-size: 1.5rem;
	color: rgba(85, 85, 85, 255);
	text-align: left;
}
.swiss {
	width: 22%;
	margin: 0 1.5% 0 15%;
	text-align: justify;
}
.hrswiss {
	width: 0.0625rem; 
	height: 14rem;
	margin-top: -7.3%;
}
.double {
	width: 23%;
	margin-left: 1.5%;
	text-align: justify;
}
.hrdouble {
	width: 0.0625rem; 
	height: 26rem;
	margin: -37% 0 0 104.7%;
}
.anonymous {
	width: 22%;
	margin-left: 3%;
	text-align: justify;
}
.hranonymous {
	width: 13rem; 
	height: 0.0625rem;
	margin-top: 7%;
}
figcaption {
	padding-top: 4%;
}
.physical {
	width: 61%;
	text-align: right;
}
.hrphysical {
	width: 60rem; 
	height: 0.0625rem;
	margin-bottom: -1%;
}
.physical p {
	font-size: 1.6rem;
	color: rgba(149, 147, 147, 255);
	margin: 1.5% 0 3% 0;
}
h3 {
	font-size: 4rem;
	font-weight: normal;
	color: rgba(83, 83, 83, 255);
	margin-top: 5%;
}
.features {
	background: #fff;
	font-size: 1.33rem;
	color: rgba(103, 103, 103, 255);
    padding: 1.5% 2%; 
	border-style: solid;
	border-color: #d6d6d6;
	border-radius: 2.5rem; 
	margin: -7% -23% 0 0;
}
.magazine {
	background-color: white;
	margin-top: 6%;
}
.gray {
	background: linear-gradient(to bottom, #eeeeee 0%, #efefef 30%, #f8f8f8 60%, #ffffff 100%);
}
.any {
	height: 800px;
}
.anywhere {
	background-image: url(assets/triangle.png);
	background-repeat: no-repeat;
	display: flex;
	height: 359px;
}
.dots {
	width: 2%;
	margin: 3% 0 0 23%;
	float: left;
}
.quote {
	width: 50%;
	font-family: "MalagaOTCE-RegItalic", "MyriadPro-Regular";
	font-size: 1.5rem;
	color: rgba(16, 16, 16, 255);
	margin-top: 3%;
}
.quote p {
	margin-bottom: 3%;
}
.up {
	font-family: "TitilliumWeb-Regular", "MyriadPro-Regular";
	color: rgba(83, 83, 83, 255);
	text-align: right;
	margin-top: 18%;
	margin-right: -10rem;
	position: relative;
	z-index: 2;
}
h4 {
	font-size: 2.8rem;
	color: rgba(83, 83, 83, 255);
	font-weight: normal;
}
.up p{
	font-size: 1.2rem;
	color: rgba(149, 147, 147, 255);
	margin: 2% 0 3% 0;
}
.device {
	width: 50%;
	height: 670px;
	margin-top: 3%;
	position: relative;
	z-index: 1;
}
.hrright {
	display: flex;
}
.null {
	width: 25%; 
}
.hrdevice {
	width: 75%; 
	height: 0.0625rem;
	position: relative;
	z-index: 0;
	margin-top: -1.5%;
}
.privacy {
	font-family: "TitilliumWeb-Regular", "MyriadPro-Regular";
	color: rgba(83, 83, 83, 255);
	margin: 2% 0 3% 0;
	text-align: center;
	font-size: 2rem;
}
.privacy button {
	text-align: center;
}
.privacy img {
	float: left;
}
.upgrade, .donate {
	font-family: "TitilliumWeb-Bold", "MyriadPro-Regular";
    color: rgba(255, 255, 255, 255);
	border-radius: 2rem; 
	font-size: 1.5rem;
	text-align: center;
	margin: 2% 0 2% 1%;
	padding: 1% 1% 0.5% 1%; 
	border: none;	
	color: #fff; 
}
.upgrade {
	background: linear-gradient(to right, #646c92 0%, #63638c 30%, #625080 60%, #60316b 100%);
	box-shadow: 0 0.8rem 0.8rem rgba(86, 126, 199, 0.5);
}
.donate {
	background: linear-gradient(to right, #36bae1 0%, #3fabe3 30%, #499ce5 60%, #5e7bea 100%);
	box-shadow: 0 0.8rem 0.8rem rgba(96, 223, 180, 0.5);
}
.hrprivacy {
	width: 80%; 
	height: 0.0625rem;
	margin-left: -1%;
}
.help p {
	width: 77.5%;
	font-size: 1rem;
	color: rgba(122, 122, 122, 255);
	text-align: right;
	margin: 1% 0;
}
.secure {
	width: 79%;
	text-align: right;
	position: relative;
	z-index: 0;
}
.hrsecure {
	width: 0.0625rem; 
	height: 30rem;
	margin: -9% 0 -26% 79%;
	position: relative;
	z-index: 1;
}
footer {
	background: white;
	width: 100%;
	margin: auto;
	padding: 1rem;
	box-sizing: border-box;
}
.form {
	display: flex;
	font-family: "TitilliumWeb-Bold", "TitilliumWeb-Regular", "MyriadPro-Regular";
	color: rgba(92, 92, 92, 255);
	text-align: left;
	margin-top: 17.5%;
}
.visit {
	width: 30%;
	font-size: 1rem;
}
.hrvisit {
	width: 0.0625rem; 
	height: 6.5rem;
	margin: 0 1% 0 7%;
}
.company{
	direction: rtl;
	text-align: right;
	width: 12%;
	margin-left: 1%;
	font-size: 1.2rem;
}
.legal {
	direction: rtl;
	text-align: right;
	width: 12%;
	margin-left: 1%;
	font-size: 1.2rem;
}
.hrlegal {
	width: 0.0625rem; 
	height: 22rem;
	margin: -77% -18% 0 0;
}
.nmail {
	direction: rtl;
	text-align: right;
	width: 12%;
	font-size: 1.2rem;
}
.network {
	padding-top: 30%;
}
.copyright {
	padding-top: 5%;
}
h1:hover {
	transform: rotateZ(-5deg);
}
a { 
    text-decoration: none;
}
a:link {
	color:grey;
}
a:visited {
	color:purple;
}
a:hover {
	color:brown;
}
button:hover {
	transform: scale(1.5);
}

@media only screen and (max-width: 1500px) {
	html {
		background-image: url(assets/mountains1500.png);
		background-repeat: no-repeat;
		max-width: 100%;
		width: 1500px;
	}
	.account {
		flex-basis: 100%;
		height: 80%;
	}
	.social {
		width: 100%;
		height: 20%;
	}
	.hranonymous {
		display: none;
	}
	.magazine {
		margin-top: 15%;
	}
	h1:hover {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
	html {
		background-image: url(assets/mountains1200.png);
		background-repeat: no-repeat;
		width: 1200px;
		font-size: 14px;
	}
	.nav {
		display: none;
	}
	hr {
		display: none;
	}
	.features {
		display: none;
	}
	.magazine {
		margin-top: 1%;
	}
	.quote {
		flex-basis: 100%;
		height: 80%;
		font-size: 12px;
	}
	.device {
		width: 100%;
		height: 20%;
	}
	.secure {
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 1000px) {
	html {
		background-image: url(assets/mountains1000.png);
		background-repeat: no-repeat;
		width: 1000px;
	}	
	.social {
		display: none;
	}
	.help {
		display: none;
	}
	.dots {
		display: none;
	}
	button:hover {
		display: none;
	}
	.form {
		margin-top: 10%;
	}
	#blog {
		margin-left: 15%;
	}
}

@media screen and (max-width: 800px) {
	html {
		background-image: url(assets/mountains800.png);
		background-repeat: no-repeat;
		width: 800px;
	}	
	.language {
		flex-basis: 100%;
		height: 80%;
	}
	.navigation {
		width: 100%;
		height: 20%;
	}
	.double {
		display: none;
	}
	.physical {
		display: none;
	}
	blockquote {
		display: none;
	}
	.legal {
		display: none;
	}
	.up {
		width: 60%;
		text-align: center;
		margin-left: 70%;
	}
	.swiss {
		width: 50%;
	}
	.anonymous {
		width: 50%;
		margin-left: 15%;
	}
	.magazine {
		margin-top: -10;
		text-align: center;
	}
	.device img {
		width: 500px;
	}
	.form {
		margin-left: 10%;
	}
	.compaby {
		margin-left: 10%;
	}
	.nmail {
		margin-left: 10%;
	}
}

@media screen and (max-width: 480px) {
	html {
		background-image: url(assets/mountains480.png);
		background-repeat: no-repeat;
		font-size: 12px;
		width: 480px;
	}	
	.lang {
		display: none;
	}
	.account p {
		display: none;
	}
	.up p {
		display: none;
	}
	.privacy p:nth-child(2) {
		display: none;
	}
	.company {
		display: none;
	}
	.nmail {
		display: none;
	}
	h2 {
		margin-bottom: 10%;
	}
	.swiss {
		width: 70%;
	}
	.anonymous {
		width: 70%;
	}
	.device img {
		width: 400px;
	}
	.visit {
		width: 100%;
	}
}